body{
    background-color: #FFFBF5;
}

a{
    margin: 20px;
}

.banner-cont{
    margin: 2% auto 4%;
}

.title{
    color: #820000;
    font-weight: 500;
}
.side-navs{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 1.2%;
}

.content-cont{
    font-size: 2rem;;
    text-align: center;
    margin: 4% 0 0 0 ;
}

.img1{
    width: 80%;
}
.img2{
    width: 80%;
}

@media (max-width: 800px) {

    .side-navs{
        display: none;
    }
}